---
title: Settings
menu: settings
css:
    - bulma-tooltip
    - bulma-checkradio
    - bulma-divider
layout: default
---
{% include helptext.html %}
<h1 class="title is-3">{% mdicon lock %}Settings</h1>
<div id="settings">
    <div class="box properties">
        {% raw %}
        <div class="level">
            <div class="level-item">
                <span><span class="entry">Hostname:</span> <span class="value">{{ service.hostname }}</span></span>
            </div>
            <div class="level-item">
                <span><span class="entry">IP:</span> <span class="value">{{ wifi.ip }}</span></span>
            </div>
        </div>
        {% endraw %}
    </div>
    <div class="message">
        <div class="message-header"><span class="title is-5">{% mdicon wifi %}Wifi Connection</span></div>
        <div class="message-body">
            <div style="margin-left: auto; margin-right: auto; max-width: 700px;">
                <div class="title is-4 has-text-centered mode-select">
                    Mode:
                    <span class="select">
                        <select v-model="wifi.mode">
                            <option value="accesspoint">Access Point</option>
                            <option value="station">Station</option>
                            <option value="off">Off</option>
                        </select>
                    </span>
                </div>
                <div v-if="wifi.mode == 'accesspoint'">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">SSID</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control is-expanded"><input class="input" type="text" placeholder="Network Name" maxlength="31" v-model="wifi.accesspoint_ssid" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal is-spaced-mobile">
                        <div class="field-label is-normal"><label class="label">Password</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control is-expanded">
                                    <input class="input" type="text" placeholder="WPA2-PSK Password" maxlength="63" v-model="wifi.accesspoint_password" v-bind:disabled="!wifi.accesspoint_encryption" />
                                </span>
                            </div>
                            <div class="field">
                                <span class="control">
                                    <input class="is-checkradio has-background-color is-white" id="wifi-password-enable" type="checkbox" v-model="wifi.accesspoint_encryption" />
                                    <label class="is-checkradio-enable" for="wifi-password-enable"><strong>Enabled</strong></label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="is-divider" data-content="Advanced"></div>
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control">
                                    <input class="is-checkradio has-background-color is-white" id="wifi-hidden-enable" type="checkbox" v-model="wifi.accesspoint_hidden" />
                                    <label class="is-checkradio-enable" for="wifi-hidden-enable"><strong>Hidden SSID</strong></label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal is-spaced-mobile">
                        <div class="field-label is-normal"><label class="label">Channel</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control">
                                    <input class="input" style="width: 75px;" type="number" min="1" max="13" step="1" v-model="wifi.accesspoint_channel" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="wifi.mode == 'station'">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">SSID</label></div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <span class="control" style="width: 100%;">
                                    <div class="select is-fullwidth">
                                        <select v-model="wifi.station_ssid">
                                            {% raw %}<option v-for="network in wifi.detected" v-bind:value="network.ssid">{{ network.ssid }}</option>{% endraw %}
                                        </select>
                                    </div>
                                </span>
                                <span class="control"><button class="button is-primary" style="border-color: #666;" v-on:click="scanwifi">{% mdicon refresh, .baseline, .inline %}</button></span>
                            </div>
                        </div>
                    </div>
                    <div v-if="wifi.station_encryption" class="field is-horizontal is-spaced-mobile">
                        <div class="field-label is-normal">
                            <label class="label">Password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control"><input class="input" type="text" placeholder="Empty" maxlength="63" v-model="wifi.station_password" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="is-divider" data-content="Advanced"></div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">IP Address</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control"><input class="input" type="text" v-bind:placeholder="wifi.station_forceip == '' && wifi.station_forcesubnet == '' && wifi.station_forcegateway == ''? 'Auto' : 'Required'" maxlength="15" v-model="wifi.station_forceip" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">Subnet</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control"><input class="input" type="text" v-bind:placeholder="wifi.station_forceip == '' && wifi.station_forcesubnet == '' && wifi.station_forcegateway == ''? 'Auto' : 'Required'" maxlength="15" v-model="wifi.station_forcesubnet" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">Gateway</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control"><input class="input" type="text" v-bind:placeholder="wifi.station_forceip == '' && wifi.station_forcesubnet == '' && wifi.station_forcegateway == ''? 'Auto' : 'Required'" maxlength="15" v-model="wifi.station_forcegateway" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal is-spaced-mobile">
                        <div class="field-label is-normal"><label class="label">Revert AP</label></div>
                        <div class="field-body">
                            <div class="field">
                                <span class="control">
                                    <input class="is-checkradio has-background-color is-white" id="wifi-revertap-enable" type="checkbox" v-model="wifi.station_revertap" />
                                    <label class="is-checkradio-enable" for="wifi-revertap-enable"><strong>Enabled</strong></label>
                                </span>
                                <span class="control"><button class="button tooltip is-tooltip-left is-tooltip-multiline" style="background-color: #333; border-width: 0px;" data-tooltip="{{ help_revertap }}">{% mdicon help-circle, .baseline, .inline %}</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="field has-text-centered">
                    <span class="control"><button class="button is-primary is-medium" v-on:click="writewifi">Apply</button></span>
                </div>
                <div class="modal" v-bind:class="{'is-active': wifi.changemodal}">
                    <div class="modal-background" v-on:click="wifi.changemodal = false"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered">
                                <div class="title is-4">{% mdicon sync-alert %}Wifi Settings Changed</div>
                                <div>You may need to modify your network connections and reconnect.</div>
                            </div>
                        </div>
                    <button class="modal-close is-large" v-on:click="wifi.changemodal = false"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="message">
        <div class="message-header"><span class="title is-5">{% mdicon application %}Browser &amp; API Interface</span></div>
        <div class="message-body">
            <div style="margin-left: auto; margin-right: auto; max-width: 700px;">
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Hostname</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control"><input class="input" type="text" placeholder="Unknown" maxlength="23" v-model="service.hostname" /></span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">HTTP</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control">
                                <input class="is-checkradio has-background-color is-white" id="service-http-enable" type="checkbox" v-model="service.http_enabled" />
                                <label class="is-checkradio-enable" for="service-http-enable"><strong>Enabled</strong></label>
                            </span>
                            <span v-if="!service.http_enabled" class="help is-danger"><strong>Warning:</strong> You will not be able to re-enable access through the http interface. To reset your board (and revert to factory default settings), see <a class="link" href="/documentation#hardware-reset"><strong>Hardware Reset</strong></a>.</span>
                        </div>
                    </div>
                </div>
                <!--<div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal"><label class="label">HTTPS</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control">
                                <input class="is-checkradio has-background-color is-white" id="service-https-enable" type="checkbox" v-model="service.https_enabled" />
                                <label class="is-checkradio-enable" for="service-https-enable"><strong>Enabled</strong></label>
                            </span>
                        </div>
                    </div>
                </div>-->
                <div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal"><label class="label">mDNS</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control">
                                <input class="is-checkradio has-background-color is-white" id="service-mdns-enable" type="checkbox" v-model="service.mdns_enabled" />
                                <label class="is-checkradio-enable" for="service-mdns-enable"><strong>Enabled</strong></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal"><label class="label">Authentication</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control is-expanded"><input class="input" type="text" placeholder="Username" maxlength="63" v-model="service.auth_username" v-bind:disabled="!service.auth_enabled" /></span>
                        </div>
                        <div class="field">
                            <span class="control is-expanded"><input class="input" type="text" placeholder="Password" maxlength="63" v-model="service.auth_password" v-bind:disabled="!service.auth_enabled" /></span>
                        </div>
                        <div class="field">
                            <span class="control">
                                <input class="is-checkradio has-background-color is-white" id="service-auth-enable" type="checkbox" v-model="service.auth_enabled" />
                                <label class="is-checkradio-enable" for="service-auth-enable"><strong>Enabled</strong></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal"><label class="label">Arduino OTA</label></div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control is-expanded"><input class="input" type="text" placeholder="No Password" maxlength="63" v-model="service.ota_password" v-bind:disabled="!service.ota_enabled" /></span>
                        </div>
                        <div class="field">
                            <span class="control">
                                <input class="is-checkradio has-background-color is-white" id="service-ota-enable" type="checkbox" v-model="service.ota_enabled" />
                                <label class="is-checkradio-enable" for="service-ota-enable"><strong>Enabled</strong></label>
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="field has-text-centered">
                    <span class="control"><button class="button is-primary is-medium" v-on:click="writeservice">Apply</button></span>
                </div>
                <div class="modal" v-bind:class="{'is-active': service.changemodal}">
                    <div class="modal-background" v-on:click="service.changemodal = false"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered">
                                <div class="title is-4">{% mdicon sync-alert %}Browser Settings Changed</div>
                                <div>You may need to refresh the page to see changes.</div>
                            </div>
                        </div>
                    <button class="modal-close is-large" v-on:click="service.changemodal = false"></button>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="message">
        <div class="message-header"><span class="title is-5">{% mdicon lock-plus %}Crypto Authentication</span></div>
        <div class="message-body" style="color: #666;">
            <strong>Work in progress:</strong> Crypto chip authentication development is still in progress. Nothing to see here, move along =)
        </div>
    </div>
    -->
    <div class="message">
        <div class="message-header"><span class="title is-5">{% mdicon update %}Reset Device</span></div>
        <div class="message-body">
            <div style="margin-left: auto; margin-right: auto; max-width: 700px;">
                <div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal">Send reset command to motor driver.</div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control"><button class="button is-primary is-medium" v-on:click="resetmotor">Reset Motor</button></span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal is-spaced-mobile">
                    <div class="field-label is-normal">Reset all configuration to factory settings and reset device.</div>
                    <div class="field-body">
                        <div class="field">
                            <span class="control"><button class="button is-primary is-medium" v-on:click="factoryreset">Factory Reset</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script minify>
    function merge(dest, src, keys) {
        for (i in keys) {
            dest[keys[i]] = src[keys[i]];
        }
    }
    var app = new Vue({
        el: '#settings',
        data: {
            wifi: {
                detected: [],
                changemodal: false,
                ip: '',
                rssi: 0,
                mode: null,
                accesspoint_ssid: '',
                accesspoint_password: '',
                accesspoint_encryption: false,
                accesspoint_channel: 1,
                accesspoint_hidden: false,
                station_ssid: '',
                station_password: '',
                station_encryption: false,
                station_forceip: '',
                station_forcesubnet: '',
                station_forcegateway: '',
                station_revertap: true
            },

            service: {
                changemodal: false,
                hostname: '',
                http_enabled: true,
                mdns_enabled: true,
                auth_enabled: false,
                auth_username: '',
                auth_password: '',
                ota_enabled: true,
                ota_password: ''
            }
        },
        watch: {
            'wifi.mode': function(newv) {
                if (newv == 'station') {
                    this.scanwifi();
                }
            },
            'wifi.station_ssid': function(newv) {
                for (var i = 0; i < this.wifi.detected.length; i++) {
                    if (this.wifi.station_ssid == this.wifi.detected[i]['ssid']) {
                        this.wifi.station_encryption = this.wifi.detected[i]['encryption'];
                    }
                }
            }
        },
        computed: {
        },
        methods: {
            scanwifi: function() {
                console.log("Initiating Wifi Scan");
                axios.get("{{ site.apiurl }}/api/wifi/scan").then(function (r) {
                    if (r.data.status == 'ok') {
                        var networks = r.data.networks;
                        networks.sort(function(a, b){return b['rssi']-a['rssi'];});
                        app.wifi.detected = networks;
                    }
                });
            },
            writewifi: function() {
                console.log("Writing wifi settings");
                if (this.wifi.mode == 'off') {
                    axios.get("{{ site.apiurl }}/api/wifi/set/off", {
                        params: {}
                    });

                } else if (this.wifi.mode == 'accesspoint') {
                    axios.get("{{ site.apiurl }}/api/wifi/set/accesspoint", {
                        params: {
                            ssid: app.wifi.accesspoint_ssid,
                            password: app.wifi.accesspoint_encryption? app.wifi.accesspoint_password : '',
                            channel: app.wifi.accesspoint_channel,
                            hidden: app.wifi.accesspoint_hidden
                        }
                    });

                } else if (this.wifi.mode == 'station') {
                    axios.get("{{ site.apiurl }}/api/wifi/set/station", {
                        params: {
                            ssid: app.wifi.station_ssid,
                            password: app.wifi.station_encryption? app.wifi.station_password : '',
                            forceip: app.wifi.station_forceip,
                            forcesubnet: app.wifi.station_forcesubnet,
                            forcegateway: app.wifi.station_forcegateway,
                            revertap: app.wifi.station_revertap
                        }
                    });
                }
                this.wifi.changemodal = true;
            },
            writeservice: function() {
                console.log("Writing service settings");
                axios.get("{{ site.apiurl }}/api/service/set", {
                    params: {
                        hostname: app.service.hostname,
                        http_enabled: app.service.http_enabled,
                        mdns_enabled: app.service.mdns_enabled,
                        auth_enabled: app.service.auth_enabled,
                        auth_username: app.service.auth_username,
                        auth_password: app.service.auth_password,
                        ota_enabled: app.service.ota_enabled,
                        ota_password: app.service.ota_password
                    }
                });
                this.service.changemodal = true;
            },
            resetmotor: function() {
                console.log("Reset motor");
                axios.get("{{ site.apiurl }}/api/motor/reset");
            },
            factoryreset: function() {
                console.log("Factory reset device");
                axios.get("{{ site.apiurl }}/api/factoryreset");
            }
        },
        mounted: function () {
            axios.get("{{ site.apiurl }}/api/wifi/get").then(function (r) {
                if (r.data.status == 'ok') {
                    merge(app.wifi, r.data, ['ip', 'rssi', 'mode']);
                    merge(app.wifi, r.data, ['accesspoint_ssid', 'accesspoint_password', 'accesspoint_encryption', 'accesspoint_channel', 'accesspoint_hidden']);
                    merge(app.wifi, r.data, ['station_ssid', 'station_password', 'station_encryption', 'station_forceip', 'station_forcesubnet', 'station_forcegateway', 'station_revertap']);
                }
            });
            axios.get("{{ site.apiurl }}/api/service/get").then(function (r) {
                if (r.data.status == 'ok') {
                    merge(app.service, r.data, ['hostname', 'http_enabled', 'mdns_enabled', 'auth_enabled', 'auth_username', 'auth_password', 'ota_enabled', 'ota_password']);
                }
            });
        }
    });
</script>
