---
---
$body-background-color: #383838;
$text: #fff;
$background-hover: #666;
$background-dark: #222;
$background-header: #333;
$background-active: #1a1a1a;

$primary: $background-dark;
$light: #b5b5b5;

$hr-background-color: #b5b5b5;
$hr-height: 1px;

$navbar-background-color: $background-dark;
$navbar-item-color: $text;
$navbar-item-hover-color: $text;
$navbar-item-hover-background-color: $background-hover;

$menu-item-hover-color: $text;
$menu-item-hover-background-color: $background-hover;
$menu-item-active-background-color: $background-active;

$title-color: $text;
$subtitle-color: $text;

$message-header-background-color: $background-dark;
$message-header-color: $text;
$message-background-color: $background-header;

$box-background-color: $background-dark;

$label-color: $text;

$input-color: $text;
$input-arrow: #999;
$input-hover-color: #666;
$input-border-color: #666;
$input-background-color: $body-background-color;

$input-disabled-color: $body-background-color;
$input-disabled-border-color: #666;
$input-disabled-background-color: #666;

$button-static-color: $text;
$button-static-border-color: $input-border-color;
$button-static-background-color: #4d4d4d;


@import 'bulma';


.mdicon {
    display: inline-flex;
    align-self: center;
    margin-right: 0.25em;
    margin-left: 0.25em;

    &:not(.inline) {
        margin-right: 0.5em;
    }

    svg {
        position: relative;
        top: .125em;
        height: 1em;
        width: 1em;
    }
}

.mdicon.baseline svg {
    position: relative;
    top: -0.05em;
}


.mdicon:not(.mdicolor) svg {
    fill: $text;
}

.field-label {
    flex-basis: 80px !important;
    white-space: nowrap;
}

.nobreak {
    white-space: nowrap;
}

.is-divider {
    border-top-color: $hr-background-color !important;
    &::after { background-color: $message-background-color !important; }
}

input.input {
    font-weight: bold;
}

.select select {
    font-weight: bold;
    option { color: $text; }
}

button.button {
    &.is-help, &.is-addon {
        background-color: $button-static-background-color;
        border-color: $input-border-color;
        border-left-style: none;
    }
}

.tooltip::before {
    color: #000 !important;
}

sup {
    position: relative;
    top: -0.4em;
}

.mode-select {
    line-height: 2;
    .select {
        font-size: 1.2rem;
        select {
            position: relative;
            top: 3px;
            margin: 0 0.5rem;
            font-weight: bold;
        }
    }
}

.warnings {
    .tag {
        margin: 0 0.5rem;
        color: #666;
        background-color: $background-dark;

        &.is-warning {
            color: $text;
            font-weight: bold;
            background-color: #f90;
        }

        &.is-error {
            color: $text;
            font-weight: bold;
            background-color: #900;
        }
    }
}